@charset "UTF-8";
/*Utils*/
@import './Utils/variables';
@import './Utils/animation';
@import './Utils/mixins';

body{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-family: $fonts;
   margin: 0;
   max-width: 1120px;
   min-width: 350px;
}
.loading
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display:  flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    animation: loading_bg 1s ease-out;
    animation-delay: 3s;
    animation-fill-mode: both;
    z-index: 1;
        &__bar{
        border-bottom: 10px solid $couleur_primaire;
        border-top: 10px solid  $couleur_primaire;
        border-left: 10px solid  $couleur_tertiaire;
        border-right: 10px solid  $couleur_tertiaire;
        width: 80px;
        height: 80px;
        animation: loading 2s ease-in-out;
        animation-iteration-count: infinite;
    }
}
header{
  display: flex;
  align-items: center;
  a{
    position: absolute;
    left: 20px;
    color: black;
  }
}

#logo{
    height: 30px;
    padding: 0.75em 0;
}

.filtre{
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    height: 340px;
    text-align: center;
    width: 100%;
        &__position{
            background-color: #DEDEDE;
            border-top: 1px solid grey;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.2em 0;
        span{
            font-size: 15px;
            padding: 0.5em;
        }
            &--marque{
                font-size: 12px;
                padding: 0 0.5em;
        }
    }
        &__reser{
            font-size: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        h1{
            font-size: 24px;
            padding-top: 20px;
        }
        p{
            font-size: 17px;
        }
            &--btn{
                border-radius: 25px;
                background: $couleur_btn;
                display: flex;
                justify-content: center;
                margin: auto;
                width: 55%;
                height: 45px;
                font-size: 14px;
                color: white;
                border:none;
                margin-top:1em;
                margin-bottom: 1em;
                &:hover{
                    animation: btn-anim 200ms ease-out;
                    animation-fill-mode: forwards;
                }
            }
        }
}


.nav{
    width: 100%;
    &__title{
        padding: 0 1em;
        margin: 0.5em;
    }
    &__list{
        list-style: none;
        padding: 0 4em;
        :hover{
            background-color: #f1e5ff;
            >.fas{ 
                color: $couleur_primaire; 
            }
            >span{
                background-color: $couleur_primaire;  
            } 
        }
        &--elements{
            padding: 1.5em;
            border-radius: 20px;
            margin: 1.5em 0;
            text-align: center;
            display: flex;
            align-items: center;
            @include box-shadow;
            background-color: #efefef;
            font-size: 12px;

            span{
                background-color: $couleur_primaire;
                padding: 3px 7px;
                border-radius: 20px;
                margin-left:-30px;
                color: white;
                font-size: 12px;
            }
            .fas{
                padding: 0 20px;
                color: grey;
            }
 
        }

    }
}


.container{
    background-color: #f9f4f4;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 4em;
    a{
        text-decoration: none;
        color: inherit;
    }
    &__title{
        padding: 1em;
    }
    &__block{
        background-color: white;
        border-radius: 15px;
        @include box-shadow;
        height: 200px;
        width: 90%;
        margin: 8px auto;
        position: relative;
        span{
            background-color: $couleur_tertiaire;
            color: green;
            position:absolute;
            right: 15px;
            top: 10px;
            padding: 0.4em 1em;
            border-radius: 4px;
        }
        img{
            height: 65%;
            width: 100%;
            @include img-center;
            border-radius: 15px 15px 0 0;
        }
        .text{
            font-size: 0.5em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1em 2em;
                &__title{
                    font-size: 15px;
                    margin: 5px 0;
                }
                &__soustext{
                    font-size: 15px;
                    margin: 0;
                }
                &__btn{
                    &--base{
                        position: absolute;
                        top: 155px;
                        right: 30px;
                        font-size: 20px;
                        z-index: 0;
                    }
                    &--fav{
                        position: absolute;
                        top: 155px;
                        right: 30px;
                        font-size: 20px;
                        z-index: -1;
                        opacity: 0;
                        background: -webkit-linear-gradient($couleur_secondaire, $couleur_primaire);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                &:hover{
                    .text__btn--fav{
                        opacity: 1;
                        z-index: -1;
                        transition: opacity 500ms;
                    }
                    .text__btn--base{
                        opacity: 0;
                    }
                }
            }
        }
    }
}

footer{
    background-color: #484848;
    width: 100%;
    color:white;
    #titre_credit{
        font-family: $fonts-logo;
    }
    ul{
        list-style: none;
    }
    .fas{
    width: 25px;
    }
}

/*pages*/

.img_acc{
    width: 100%;
    height: 250px;
    @include img-center;
}

.page{
    border-radius: 20px 20px 0 0;
    background-color: #EFEDEC;
    width: 100%;
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    padding: 1px 0 60px 0;
    
    &__title{
        font-family: $fonts-logo;
        padding: 0 0.5em;
    }
    &__categorie{
      padding: 5px 0;
      width: 40px;
      font-size: 1em;
      margin: 5px 1em;
      border-bottom: 3px solid $couleur_tertiaire;
  }
}
.categorie__liste{
        background-color: white;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        margin:0.5em 1em;
        align-items: center;
        height: 70px;
        animation: slideDown 4s;
        @include box-shadow;
        &:hover> &--box{
            display: block;
            animation: slideRight 500ms ease-in-out;
            animation-fill-mode: forwards;
            }
        &:hover &--box--check{
            animation: checking 450ms ease-in-out;
            }    

        &--content{
            width: 100%;
            padding: 1em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            > p {
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        &--box{
            background-color: $couleur_tertiaire;
            height: 70px;
            border-radius: 0 15px 15px 0;
            display: none;
            &--check{
                color: white;
                justify-content: center;
                text-align: center;
                align-items: center;
                padding: 0.5em 0.5em;
                font-size: 35px
            }
        }

        span{
            width: 100%;
            font-weight: bold;
            font-size: 15px;
        }
        p{
            margin-top:5px;
            margin-bottom: 0;
            font-size: 13px;
        }
        .prix{
            font-size: 15px;
            font-weight: bold;
            padding: 1em;
        }

    }
    .categorie__liste:nth-child(1){
        animation: slideDown 4s;
    }
    .categorie__liste:nth-child(2){
        animation: slideDown 3s;
    }
    .categorie__liste:nth-child(3){
        animation: slideDown 2s;
    }
    .categorie__liste:nth-child(4){
    animation: slideDown 1s;
    }

@media screen and( min-width: 1280px){
    body{
        width: 66%;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    header{
        a{
            position: absolute;
            left: 570px;
            color: black;
          }
    }
    .filtre{
        border-radius: 20px;
        &__position{
            border-radius: 20px 20px 0 0;
           &--marque{
               font-size: 1.5em;
           }
           span{
               font-size: 2em;
           }
        }
    
        &__reser{
            &--btn{
                width: 20%;
            }
        }
    }
    .nav__list{
        width: 90%;
        display: flex;
        justify-content: space-around;
        padding: 1em;
        text-align: center;
        margin: auto;
        &--elements{
            width: 25%;
        }
    }
    .container{
        border-radius: 20px 20px 0 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        &__title{
            width: 100%;
        }
        &__block{
            width: 400px;
            height: 250px;
        }
        .text{
            padding:2em;
            &__btn{
                position: absolute;
                top:40px;
                right: 20px;

            }
        }

    }
    .page{
        display: flex;
        &__liste{
            display: flex;
            flex-flow: row wrap;
        }
        .categorie__liste{
            width: 30%;
        }
    }
}