/*Utils*/
@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  from {
    width: 0;
  }
  to {
    width: 35%;
  }
}
@keyframes checking {
  from {
    transform: rotate(-180deg);
    opacity: 0;
  }
  to {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
    border-radius: 0;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 50%;
  }
}
@keyframes loading_bg {
  0% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes btn-anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
    filter: drop-shadow(0 0 0.6em #b8b8b8);
  }
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin: 0;
  max-width: 1120px;
  min-width: 350px;
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  animation: loading_bg 1s ease-out;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 1;
}
.loading__bar {
  border-bottom: 10px solid #9656DC;
  border-top: 10px solid #9656DC;
  border-left: 10px solid #99E2D0;
  border-right: 10px solid #99E2D0;
  width: 80px;
  height: 80px;
  animation: loading 2s ease-in-out;
  animation-iteration-count: infinite;
}

header {
  display: flex;
  align-items: center;
}
header a {
  position: absolute;
  left: 20px;
  color: black;
}

#logo {
  height: 30px;
  padding: 0.75em 0;
}

.filtre {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  height: 340px;
  text-align: center;
  width: 100%;
}
.filtre__position {
  background-color: #DEDEDE;
  border-top: 1px solid grey;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0;
}
.filtre__position span {
  font-size: 15px;
  padding: 0.5em;
}
.filtre__position--marque {
  font-size: 12px;
  padding: 0 0.5em;
}
.filtre__reser {
  font-size: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.filtre__reser h1 {
  font-size: 24px;
  padding-top: 20px;
}
.filtre__reser p {
  font-size: 17px;
}
.filtre__reser--btn {
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9656DC);
  display: flex;
  justify-content: center;
  margin: auto;
  width: 55%;
  height: 45px;
  font-size: 14px;
  color: white;
  border: none;
  margin-top: 2em;
  margin-bottom: 1em;
}
.filtre__reser--btn:hover {
  animation: btn-anim 200ms ease-out;
  animation-fill-mode: forwards;
}

.nav {
  width: 100%;
}
.nav__title {
  padding: 0 1em;
  margin: 0.5em;
}
.nav__list {
  list-style: none;
  padding: 0 4em;
}
.nav__list :hover {
  background-color: #f1e5ff;
}
.nav__list :hover > .fas {
  color: #9656DC;
}
.nav__list :hover > span {
  background-color: #9656DC;
}
.nav__list--elements {
  padding: 1.5em;
  border-radius: 20px;
  margin: 1.5em 0;
  text-align: center;
  display: flex;
  align-items: center;
  filter: drop-shadow(0 0 0.6em #b8b8b8);
  background-color: #efefef;
  font-size: 12px;
}
.nav__list--elements span {
  background-color: #9656DC;
  padding: 3px 7px;
  border-radius: 20px;
  margin-left: -30px;
  color: white;
  font-size: 12px;
}
.nav__list--elements .fas {
  padding: 0 20px;
  color: grey;
}

.container {
  background-color: #f9f4f4;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 4em;
}
.container a {
  text-decoration: none;
  color: inherit;
}
.container__title {
  padding: 1em;
}
.container__block {
  background-color: white;
  border-radius: 15px;
  filter: drop-shadow(0 0 0.6em #b8b8b8);
  height: 200px;
  width: 90%;
  margin: 8px auto;
  position: relative;
}
.container__block span {
  background-color: #99E2D0;
  color: green;
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 0.4em 1em;
  border-radius: 4px;
}
.container__block img {
  height: 65%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px 15px 0 0;
}
.container__block .text {
  font-size: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 2em;
}
.container__block .text__title {
  font-size: 15px;
  margin: 5px 0;
}
.container__block .text__soustext {
  font-size: 15px;
  margin: 0;
}
.container__block .text__btn--base {
  position: absolute;
  top: 155px;
  right: 30px;
  font-size: 20px;
  z-index: 0;
}
.container__block .text__btn--fav {
  position: absolute;
  top: 155px;
  right: 30px;
  font-size: 20px;
  z-index: -1;
  opacity: 0;
  background: -webkit-linear-gradient(#FF79DA, #9656DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__block .text__btn:hover .text__btn--fav {
  opacity: 1;
  z-index: -1;
  transition: opacity 500ms;
}
.container__block .text__btn:hover .text__btn--base {
  opacity: 0;
}

footer {
  background-color: #484848;
  width: 100%;
  color: white;
}
footer #titre_credit {
  font-family: "Shrikhand";
}
footer ul {
  list-style: none;
}
footer .fas {
  width: 25px;
}

/*pages*/
.img_acc {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.page {
  border-radius: 20px 20px 0 0;
  background-color: #EFEDEC;
  width: 100%;
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  padding: 1px 0 60px 0;
  position: relative;
}
.page__title {
  font-family: "Shrikhand";
  padding: 0 0.5em;
  font-size: 1.5rem;
}
.page__categorie {
  padding: 5px 0;
  width: 40px;
  font-size: 1em;
  margin: 5px 1em;
  border-bottom: 3px solid #99E2D0;
}
.page__btn--base {
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 20px;
  z-index: 0;
}
.page__btn--fav {
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 20px;
  z-index: -1;
  opacity: 0;
  background: -webkit-linear-gradient(#FF79DA, #9656DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page__btn:hover .page__btn--fav {
  opacity: 1;
  z-index: 0;
  transition: opacity 500ms;
}
.page__btn:hover .page__btn--base {
  opacity: 0;
}

.categorie__liste {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin: 0.5em 1em;
  align-items: center;
  height: 70px;
  animation: slideDown 4s;
  filter: drop-shadow(0 0 0.6em #b8b8b8);
}
.categorie__liste:hover > .categorie__liste--box {
  display: block;
  animation: slideRight 500ms ease-in-out;
  animation-fill-mode: forwards;
}
.categorie__liste:hover .categorie__liste--box--check {
  animation: checking 450ms ease-in-out;
}
.categorie__liste--content {
  width: 100%;
  padding: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.categorie__liste--content > p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.categorie__liste--box {
  background-color: #99E2D0;
  height: 70px;
  border-radius: 0 15px 15px 0;
  display: none;
}
.categorie__liste--box--check {
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0.5em 0.5em;
  font-size: 35px;
}
.categorie__liste span {
  width: 100%;
  font-weight: bold;
  font-size: 15px;
}
.categorie__liste p {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 13px;
}
.categorie__liste .prix {
  font-size: 15px;
  font-weight: bold;
  padding: 1em;
}

.categorie__liste:nth-child(1) {
  animation: slideDown 4s;
}

.categorie__liste:nth-child(2) {
  animation: slideDown 3s;
}

.categorie__liste:nth-child(3) {
  animation: slideDown 2s;
}

.categorie__liste:nth-child(4) {
  animation: slideDown 1s;
}

@media screen and (min-width: 1280px) {
  body {
    width: 66%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  header a {
    position: absolute;
    left: 570px;
    color: black;
  }

  .filtre {
    border-radius: 20px;
  }
  .filtre__position {
    border-radius: 20px 20px 0 0;
  }
  .filtre__position--marque {
    font-size: 1.5em;
  }
  .filtre__position span {
    font-size: 2em;
  }
  .filtre__reser--btn {
    width: 20%;
  }

  .nav__list {
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    text-align: center;
    margin: auto;
  }
  .nav__list--elements {
    width: 25%;
  }

  .container {
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .container__title {
    width: 100%;
  }
  .container__block {
    width: 400px;
    height: 250px;
  }
  .container .text {
    padding: 2em;
  }
  .container .text__btn {
    position: absolute;
    top: 40px;
    right: 20px;
  }

  .page {
    display: flex;
  }
  .page__liste {
    display: flex;
    flex-flow: row wrap;
  }
  .page .categorie__liste {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
