@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  from {
    width: 0;
  }
  to {
    width: 25%;
  }
}
@keyframes checking {
  from {
    transform: rotate(-180deg);
    opacity: 0;
  }
  to {
    transform: rotate(0);
    opacity: 1;
  }
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin: 0;
  max-width: 1120px;
  min-width: 350px;
}

header {
  display: flex;
  align-items: center;
}
header a {
  position: absolute;
  left: 20px;
  color: black;
}

#logo {
  height: 30px;
  padding: 0.75em 0;
}

.filtre {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  height: 340px;
  text-align: center;
  width: 100%;
}
.filtre__position {
  background-color: #DEDEDE;
  border-top: 1px solid grey;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0;
}
.filtre__position span {
  font-size: 15px;
  padding: 0.5em;
}
.filtre__position--marque {
  font-size: 12px;
  padding: 0 0.5em;
}
.filtre__reser {
  font-size: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.filtre__reser h1 {
  font-size: 24px;
  padding-top: 20px;
}
.filtre__reser p {
  font-size: 17px;
}
.filtre__reser--btn {
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  display: flex;
  justify-content: center;
  margin: auto;
  width: 55%;
  height: 45px;
  font-size: 14px;
  color: white;
  border: none;
  margin-top: 1em;
}

.nav {
  width: 100%;
}
.nav__title {
  padding: 0 1em;
  margin: 0.5em;
}
.nav__list {
  list-style: none;
  padding: 0 4em;
}
.nav__list :hover {
  background-color: #f1e5ff;
}
.nav__list :hover > .fas {
  color: #9356DC;
}
.nav__list :hover > span {
  background-color: #9356DC;
}
.nav__list--elements {
  padding: 1.5em;
  border-radius: 20px;
  margin: 1.5em 0;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: 4px 3px 7px #d8d7d7;
  background-color: #efefef;
  font-size: 12px;
}
.nav__list--elements span {
  background-color: #9356DC;
  padding: 3px 7px;
  border-radius: 20px;
  margin-left: -30px;
  color: white;
  font-size: 12px;
}
.nav__list--elements .fas {
  padding: 0 20px;
  color: grey;
}

.container {
  background-color: #f9f4f4;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 4em;
}
.container__title {
  padding: 1em;
}
.container__block {
  background-color: white;
  border-radius: 15px;
  filter: drop-shadow(0 0 0.75rem #b8b8b8);
  height: 200px;
  width: 90%;
  margin: 8px auto;
}
.container__block a {
  text-decoration: none;
  color: inherit;
}
.container__block img {
  height: 65%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px 15px 0 0;
}
.container__block .text {
  font-size: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}
.container__block .text__title {
  font-size: 15px;
  margin: 5px 0;
}
.container__block .text__soustext {
  font-size: 15px;
  margin: 0;
}
.container__block .text__btn--base {
  position: absolute;
  top: 155px;
  right: 35px;
  font-size: 20px;
  z-index: 0;
}
.container__block .text__btn--fav {
  position: absolute;
  top: 155px;
  right: 35px;
  font-size: 20px;
  z-index: -1;
  opacity: 0;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__block .text__btn:hover .text__btn--fav {
  opacity: 1;
  z-index: -1;
  transition: opacity 500ms;
}
.container__block .text__btn:hover .text__btn--base {
  opacity: 0;
}

footer {
  background-color: #484848;
  width: 100%;
  color: white;
}
footer #titre_credit {
  font-family: "Shrikhand";
}
footer ul {
  list-style: none;
}
footer .fas {
  width: 25px;
}

/*pages*/
.img_acc {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.page {
  border-radius: 20px 20px 0 0;
  background-color: #EFEDEC;
  width: 100%;
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  padding: 1px 0 60px 0;
}
.page__title {
  font-family: "Shrikhand";
  padding: 0 0.5em;
}
.page__categorie {
  padding: 5px 0;
  width: 40px;
  font-size: 1em;
  margin: 5px 1em;
  border-bottom: 3px solid #99E2D0;
}

.categorie__liste {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em 1em;
  align-items: center;
  height: 70px;
  animation: slideDown 4s;
}
.categorie__liste:hover > .categorie__liste--box {
  display: block;
  animation: slideRight 1s ease-in-out;
  animation-fill-mode: forwards;
}
.categorie__liste:hover .categorie__liste--box--check {
  animation: checking 1s ease-in-out;
}
.categorie__liste--content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
}
.categorie__liste--box {
  overflow: hidden;
  background-color: #99E2D0;
  height: 70px;
  border-radius: 0 15px 15px 0;
  display: none;
}
.categorie__liste--box--check {
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0.5em 0.5em;
  font-size: 35px;
}
.categorie__liste span {
  width: 100%;
  font-weight: bold;
  font-size: 15px;
}
.categorie__liste p {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 13px;
}
.categorie__liste #prix {
  font-size: 15px;
  font-weight: bold;
}

.categorie__liste:nth-child(3) {
  animation: slideDown 4s;
}

.categorie__liste:nth-child(4) {
  animation: slideDown 3s;
}

.categorie__liste:nth-child(5) {
  animation: slideDown 2s;
}

.categorie__liste:nth-child(7) {
  animation: slideDown 4s;
}

.categorie__liste:nth-child(8) {
  animation: slideDown 4s;
}

.categorie__liste:nth-child(9) {
  animation: slideDown 3s;
}

.categorie__liste:nth-child(11) {
  animation: slideDown 4s;
}

.categorie__liste:nth-child(12) {
  animation: slideDown 4s;
}

.categorie__liste:nth-child(13) {
  animation: slideDown 3s;
}

@media screen and (min-width: 1280px) {
  body {
    width: 66%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  header a {
    position: absolute;
    left: 570px;
    color: black;
  }

  .filtre {
    border-radius: 20px;
  }
  .filtre__position {
    border-radius: 20px 20px 0 0;
  }
  .filtre__position--marque {
    font-size: 1.5em;
  }
  .filtre__position span {
    font-size: 2em;
  }
  .filtre__reser--btn {
    width: 20%;
  }

  .nav__list {
    width: 50%;
    text-align: center;
    margin: auto;
  }

  .container {
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .container__title {
    width: 100%;
  }
  .container__block {
    width: 400px;
    height: 250px;
  }
  .container .text {
    padding: 2em;
  }
  .container .text__btn {
    position: absolute;
    top: 40px;
    right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
